<h4 class="p-3 mb-2">
  <span class="bg-body-secondary"><b>&nbsp;&nbsp;&nbsp;管理者ログイン&nbsp;&nbsp;&nbsp;</b></span>
</h4>

<%= form_with model: @admin,url: new_admin_session_path do |f| %>
  <div class="mb-3 ms-5 row">
    <label class="col-2 col-form-label">Email</label>
    <div class="col-sm-4">
      <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %>
    </div>
  </div>

  <div class="mb-3 ms-5 row">
    <label class="col-2 col-form-label">パスワード</label>
    <div class="col-sm-4">
      <% if @minimum_password_length %>
      <% end %>
      <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
    </div>
  </div>

  <div class="mb-3 ms-5 my-5 row">
    <div class="col-7 text-center">
        <%= f.submit "ログイン", class: "btn btn-success btn-lg col-sm-5" %>
    </div>
  </div>

<% end %>